<div class="col-sm-6 col-md-4">
  <div class="thumbnail">
    <img src="http://placehold.it/300x200" style="display: block;">
    <div class="caption">
      <p class="centered">
        <a href="#" class="btn btn-primary" role="button">Comprar</a>
      </p>
    </div>
  </div>
</div>
