<% @orders.each do |order| %>
  <div class="row order" style="border: 1px solid #ddd; padding: 20px 10px;">
    <div class="col-md-3">
      <ul style="list-style-type: none; margin-left: -40px;">
        <li>
          <b>Produto:</b> <%= order.bid_product_text %>
        </li>
        <li>
          <b>Quantidade:</b> <%= order.bid_quantity %> KG
        </li>
        <li>
          <b>Publicado em:</b> <%= I18n.l(order.bid_created_at.to_date) %>
        </li>
        <li>
          <b>Tempo restante:</b> <%= distance_of_time_in_words_to_now(order.bid_created_at + order.bid_number_of_days.days) %>
        </li>
      </ul>
    </div>
    <div class="col-md-9" style="border-left: 1px solid #ddd;">
      <div class="row" style="margin-top: 25px;">
        <div class="col-md-12">
          <div class="checkout">
            <div class="checkout-row">
              <div class="checkout-step">
                <button type="button" class="btn btn-primary btn-circle">1</button>
                <p>Disponível</p>
              </div>
              <div class="checkout-step">
                <button type="button" class="btn btn-default btn-circle">1</button>
                <p>Oferta realizada</p>
              </div>
              <div class="checkout-step">
                <button type="button" class="btn btn-default btn-circle">2</button>
                <p>Compra realizada</p>
              </div>
              <div class="checkout-step">
                <button type="button" class="btn btn-default btn-circle">3</button>
                <p>Pagamento realizado</p>
              </div>
              <div class="checkout-step">
                <button type="button" class="btn btn-default btn-circle">4</button>
                <p>Faturado</p>
              </div>
              <div class="checkout-step">
                <button type="button" class="btn btn-default btn-circle">5</button>
                <p>Entregue</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
